
/* UTILITIES */

.hero-main {
    color: white;
}

hr {
    height: 10px;
}
h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 1.1rem;
}



/* HEADER NAVIGATION */

.main-header .site-navbar {
    background-color: rgb(48, 48, 78);
}

.main-header .site-brand {
    font-size: 1.4rem;
}

.main-header a.site-brand:hover {
    color: rgb(167, 167, 167);
}

.main-header .site-navbar a.color-link{
    color: white;
}

.main-header .site-navbar a.color-link:hover{
    color: rgb(167, 167, 167);
}


/* MAIN SECTION */

/* hero-main */

 .hero-main {
   text-align: center;
}
.bg {
    background-color:  rgb(35, 187, 123);
}
.row img {
    width: 200px;
}

 /* section img */

.section-img {
    text-align: center;
} 

.section-img .container .row h2 {
    font-size: 1.8rem;
}
 .block-1 {
    height: 220px;
  
}
.block-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* info-section */
.background-3 {
    background: rgb(35, 187, 123);
}
.info-section {
    height: 550px;
    text-align: center;
    color: white;
}

/* contatti */
.contatti {
    text-align: center;
}
.block-2 {
    width: 200px;
    height: 250px;
    background: chartreuse;
}

