
/* HEADER NAVIGATION */

.main-header .site-navbar {
    background-color: rgb(48, 48, 78);
}

.main-header .site-brand {
    font-size: 1.4rem;
}

.main-header a.site-brand:hover {
    color: rgb(167, 167, 167);
}

.main-header .site-navbar a.color-link{
    color: white;
}

.main-header .site-navbar a.color-link:hover{
    color: rgb(167, 167, 167);
}


/* .hero_header {
   height: 400px;
   text-align: center;
}
.background-2 {
    background-color:  rgb(35, 187, 123);
}
 */
/* hero main */
.hero-main {
    text-align: center;
}
 .block-1 {
    height: 350px;
    background: chocolate; 
}

/* info-section */
.background-3 {
    background: rgb(35, 187, 123);
}
.info-section {
    height: 550px;
    text-align: center;
    color: white;
}

/* contatti */
.contatti {
    text-align: center;
}
.block-2 {
    width: 200px;
    height: 250px;
    background: chartreuse;
}

