h2 {
    text-align: center;
}
.header {
    background: rgb(42, 42, 92);
    width: 100%;
    height: 80px;
    color: white;
    
}
/* hero header */
.hero_header {
    background: rgb(35, 187, 123);
   height: 400px;
   text-align: center;
}

/* hero main */
.hero-main {
    text-align: center;
}
 .block-1 {
    height: 350px;
    background: chocolate; 
}

/* info-section */
.info-section {
    background: rgb(35, 187, 123);
    height: 550px;
    text-align: center;
    color: white;

}

